  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

    
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#projects-nav" data-bs-toggle="collapse" href="#">

        <!-- set a folder icon for the  projects dropdown -->
          <i class="bi bi-folder"></i><span>Projects</span><i class="bi bi-chevron-down ms-auto"></i>

        </a>

        <ul id="projects-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/projects/view/">
              <i class="bi bi-view-list"></i><span>View</span>
            </a>
          </li>

          <!-- link for  projects upload form -->
          <li>
            <a href="/admin/projects/upload/">
              <!-- create  a  projects  upload i tag with an  upload  icon -->
              <i class="bi bi-upload"></i><span>Upload</span>

            </a>
          </li>
      
      

        </ul>
      </li><!-- End Projects Nav --> 

    

      <!-- Settings  project nav  -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/settings/general/">
              <i class="bi bi-circle"></i><span>General Settings </span>
            </a>
          </li>
          <li>
            <a href="/admin/settings/manage/projects/">
              <i class="bi bi-circle"></i><span>Manage Projects </span>
            </a>
          </li>
        </ul>
      </li> -->
      
      <!-- End Settings  Nav -->

 


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/profile/">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#admin/contact">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/logout/">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End Login Page Nav --> 

      <!-- register  new user  -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/register/">
          <i class="bi bi-person-plus"></i>
          <span>Register</span>
        </a>
      </li><!-- End Login Register Nav -->


           <!-- directing to the '/' site  of the page -->

        <li class="nav-item ">
          <a target="_blank" class="nav-link collapsed" href="/">
            <i class="bi bi-box-arrow-in-left"></i>
            <span>Visit Site</span>
          </a>
        </li>


    </ul>

  </aside><!-- End Sidebar-->
