   
   {% load static %}

    <!-- ======= Services Section ======= -->
  <section id="about" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About us </h2>
        <p>Check out About Us </p>
      </div>   

      <div class="row">

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Who we Are</a></h4>
            <p data-aos="fade-up" data-aos-delay="100">
              At <b>shem Interiors</b>, we are a team of passionate and experienced interior designers committed to delivering exceptional design solutions to our clients. 
            </p>

            <!-- learn more button  with a margin-top -->
            <div class="text-center mt-1">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>

          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-easel"></i></div>
            <h4 class="title"><a href="">What we do</a></h4>
            <p class="description">
              We offer interior design services for both residential and commercial clients, including space planning, color consultation, furniture selection, and project management. Our personalized solutions exceed expectations.
            </p>

            <!-- learn more button  with a margin-top -->
            <div class="text-center mt-1">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>

          </div>
        </div>   

        <!-- why us section  -->

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Why us</a></h4>
            <p class="description">
              We are a team of passionate and experienced interior designers committed to delivering exceptional design solutions to our clients. Our personalized solutions exceed expectations.
            </p>

            <!-- learn more button  with a margin-top -->
            <div class="text-center mb-1">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>

          </div>
        </div>

        


        {% comment %}

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="50">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-graph-up"></i></div>
            <h4 class="title"><a href="">Our process</a></h4>
            <p class="description">
              Consultation, concept development, design presentation, project management, final walkthrough. Personalized interior design that exceeds expectations.

            </p>

            <!-- learn more button  with a margin-top -->
            <div class="text-center mt-1">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div> 

          </div>
        </div>

        {% endcomment %}

      </div>


      

 
  </section>

  {% comment %}

     <!-- ======= About Section ======= -->
   <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">

        <!-- <div class="col-lg-3 d-flex align-items-center justify-content-center about-img">
        
          <img src="{% static 'home/assets/gif/about.jpg' %}" class="img-fluid" alt="" data-aos="zoom-in">
        
        </div> -->

        <div class="col-lg-12 ">
          <h3 data-aos="fade-up">Who we Are </h3>
          <p data-aos="fade-up" data-aos-delay="100">
            At <b>shem Interiors</b>, we are a team of passionate and experienced interior designers committed to delivering exceptional design solutions to our clients. 
          </p>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>What  we  do </h4>
              <p>Bornacs Interiors excels in space planning, making the most of your space while ensuring it's stylish and functional. Our designers have a talent for reconfiguring layouts, selecting furniture, and maximizing space potential</p>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Brings Your Space to Life with Color</h4>
              <p>Color transforms a space, creating mood and atmosphere. Bornacs Interiors leverages the power of color to bring your vision to life, working with you to choose the perfect palette. Whether bold or muted, our designers use color to accentuate features, create flow, and elevate your space.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section --> 





      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
  
    
        </div>
      </section><!-- End Featured Services Section -->
  
{% endcomment %}
