{% load static %}

 
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact Us</h2>
            <p>Contact us then get started</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>{{ company.address }}</p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>{{ company.email }}</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <a href="tel: {{ company.phone }}">{{ company.phone }}</a>
                </div>
  
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.890220147746!2d36.67121041425448!3d-1.2358532990985833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1f1530ba10ff%3A0x580b8206a64f9010!2sGitaru%20-%20Nairobi%20Highway%20Rd%2C%20Rungiri!5e0!3m2!1sen!2ske!4v1676650248567!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>              </div>
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <form action="/client/message/" method="post" role="form" class="php-email-form contact-form" >
                {% csrf_token%}
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="form-group col-md-6 mt-3 mt-md-0">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>

                <div class="my-3 alert-display">
                  
                </div>

                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>

            <script>
              let contactForm = document.querySelector('.contact-form');
              let alertDisplay = document.querySelector(".alert-display")
              contactForm.onsubmit = (e) =>{
                    e.preventDefault();
                    
                    alertDisplay.innerHTML=`<div class="alert alert-success">Loading 
                        <span class="spinner-border"></span>
                    </div>`

                    let formData = new FormData(contactForm);
                    
                    fetch('/client/message/', {
                      method: 'POST',
                      body: formData
                    }).then(function(response){
                      return response.json();
                    }).then(function(data){

                      //alert(data.message)
                      alertDisplay.innerHTML=`<div class="sent-message">Your message has been sent. Thank you!</div>`


                      //scrollTo(0,0);
                      window.location.reload();
                      

                    }).catch(err=>{
                      alertDisplay.innerHTML=`<div class="error-message"></div>`
                    })
              }
            </script>
  
          </div>
  
        </div>
      </section><!-- End Contact Us Section -->
  