{% load static %}

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Check out the great services we offer</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-home"></i></div>
            <h4 class="title"><a href="">Interior Design</a></h4>
            <p class="description">
              Bring your dream home to life with our comprehensive interior design services. Our expert designers will work with you to create a personalized design plan that fits your style, budget, and vision. Services include space planning, color consultation, material selection, and furniture sourcing.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-pencil"></i></div>
            <h4 class="title"><a href="">Building Drawings</a></h4>
            <p class="description">
              Ensure the success of your building project with our expert building drawings services. Our team uses the latest technology to create accurate and detailed building plans, including architectural, electrical, mechanical, and structural drawings, that meet all relevant building codes and regulations.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-map"></i></div>
            <h4 class="title"><a href="">Site Supervision</a></h4>
            <p class="description">
              Take the hassle out of your construction project with our professional site supervision services. Our experienced site supervisors will monitor progress, quality, and cost control to ensure a smooth and efficient construction process. With regular site visits, progress reporting, and cost management, we guarantee on-time and within-budget completion.
            </p>
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
          </div>
        </div> -->

      </div>

    </div>
  </section><!-- End Services Section -->
